.navbar
{
  list-style: none;
  margin: 0;
  padding: 0;


}

.navbar li
{
    display: inline;
}

.navbar-r
{
  float: right;
  padding: 0 0 0 5px
}

.gimg
{
  display: block;
  margin: auto auto;
  height: 20%;
  width: 50%;
}
