.navbar
{
  list-style: none;
  margin: 0;
  padding: 0;


}

.navbar li
{
    display: inline;
}

.navbar-r
{
  float: right;
  padding: 0 0 0 5px
}

.footer
{
  background-color: grey;
  margin: 0;
  bottom: 0;
  padding-left: 27px;
  position: fixed;
  width: 100%;

}

.footer li
{
    list-style: none;
    display: inline-block;
}

/*
future proof
will auto adjust other images.
transform: translate(-50%, -50%); -->
*/
.gimg
{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top:  -350px;
  margin-left: -200px;
}

.search-bar /* sames as gimg but moved lower*/
{
  position: fixed;
  top: 70%;
  left: 50%;
  margin-top:  -400px;
  margin-left: -200px;
}
